/* universal application */
* {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
/* first_Section */
header {
    background-color: white;
    background-image: url(../images/banner/banner3.png);
    display: flex;
    width: 1600px;
    height: 809px;

}

.banner {

    text-align: right;
    /* align-items: center; */
    margin: 216px 230px 365px 845px;
}

.banner_motivation {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner_description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    ;
    margin-bottom: 32px;

}

.btn-primary {
    border: 0;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;

}
/* second_Section */
.about_failures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person {
    /* width: 569px; */
    /* height: 723.3px; */
    /* left: 206px; */
    /* top: 939px; */
    width: 527.93px;
    height: 527.93px;
    left: 229px;
    top: 1134.37px;

    /* background: rgba(241, 91, 34, 0.2); */
    /* background: #F15B22; */
    /* border-radius: 50%; */
    display: flex;
    margin: 131px 87px 129.7px 206px;
}

.failure_all_content {
    margin: 370px 322px 214px 0px;
}

.failure_title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;

    /* Dark 01 */

    color: #151414;
    margin-bottom: 24px;

}

.failure_description {
    margin-bottom: 16px;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    /* Dark 02 */

    color: #444343;

}

.listOfFailures {
    list-style: none;
    
    list-style-position: outside;
    padding-left: 0;
}

.listOfFailures li::before {
    content: '✓';
    color: #16D887;
    
}
/* third_Hard_Section related to skills */
.thirdSection {
    /* align-items: center; */
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.skills_container {
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0 230px 130px 230px;
    gap: 130px;
}

.skill_title {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    /* Dark 01 */

    color: #151414;
}

.skillDescription {
    width: 177px;
    height: 29px;
    left: 277px;
    top: 2062.96px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    /* Dark 03 */

    color: #737272;
}

.watch {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding: 59px 0 0 64px;

}

.btn-last {

    background-color: white;
    /* color: blue; */
    width: 160px;
    height: 64px;

    top: 2398.96px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;


    color: #005FAC;
    border: 0;
    border-radius: 5px;
    margin-left: 64px;
    margin-top: 24px;
}

.wholeWatch {
    margin-top: 20px;
    margin-left: 230px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    border-radius: 8px;
    margin-bottom: 130px;

}

.future {
    color: #FFFFFF;
    background-color: #151414;
    display: flex;
    gap: 150px;
    
}

.endingTitle {
    font-weight: 700;
    font-size: 45px;
    /* padding-left: 230px;
    padding-top: 130px;
     */
    margin-bottom: 16px;

}

.endingDescription {
    /* 
    padding-left: 230px; */
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
}

.endingLeft {
    padding-left: 230px;
    padding-top: 120px;
}

.endingForm {
    padding: 130px 230px 240px 0;
}

.subscription {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
}

.endingForm input {
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;
    background-color: #151414;
    padding-left: 21px;
}

.btn-ending {
    width: 170.11px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background-color: #005FAC;
    color: #FFFFFF;
    margin-top: 16px;
}
/* extra */
.extraMarkSection{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    
}
.personalGrowthList{
    font-size: 25px;
    font-weight: 250;
    text-align: left;
    padding-left:370px ;
    list-style-position: inside;
    color: brown;
}
.personalGrowthList li{
    margin-bottom: 10px;
}
.wholeExtraPart{
    background-image: url(../images/goals.png);
    background-position: center;
    background-repeat: no-repeat;
}